<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyNot.model.dao.CrewDao">

	<!-- 전체 크루 목록 -->
 	<select id="selectCrewAll" resultType="Crew">
		SELECT *
		FROM crew
	</select> 
	
	<!-- 크루 상세 -->
	<select id="detailCrew" parameterType="int" resultType="Crew">
		SELECT *
		FROM crew
		WHERE crewId = #{crewId}
	</select>
	
	<!-- 크루 검색 -->
	<select id="searchByCondition" parameterType="SearchCondition">
		SELECT crew.crewId, crew.crewName, crew.content, crew.schedule, crew.tag, crew.location,
			   crew.regDate, crew.memberNum, crew.leader
		FROM activity LEFT OUTER JOIN crew
		ON activity.activityId = crew.tag
		WHERE isInside = #{isInside} AND isSingle = #{isSingle} AND isCardio = #{isCardio} AND useEquip = #{useEquip}
	</select>

	<!-- 크루 등록 -->
	<insert id="registCrew" parameterType="Crew">
		INSERT INTO crew(crewName, content, schedule, tag, location, memberNum, leader)
		values (#{crewName}, #{content}, #{schedule}, #{tag}, #{location},#{memberNum}, #{leader})
	</insert>

	<!-- 크루 수정 -->
	<update id="updateCrew" parameterType="Crew">
		UPDATE crew
		SET crewName = #{crewName}, content = #{content}, schedule = #{schedule}, tag = #{tag}, location = #{location}, memberNum = #{memberNum}, leader = #{leader}
		WHERE crewId = #{crewId}
	</update>

	<!-- 크루 삭제 -->
	<delete id="deleteUserCrew" parameterType="int">
		DELETE FROM user_crew
		WHERE crewId = #{crewId}
	</delete>

	<delete id="deleteCrew" parameterType="int">
		DELETE FROM crew
		WHERE crewId = #{crewId}
	</delete>
	
	<!-- 크루 이름으로 검색 -->
	
	<select id="searchByName" parameterType="String">
		SELECT crew.crewId, crew.crewName, crew.content, crew.schedule, crew.tag, crew.location,
			   crew.regDate, crew.memberNum, crew.leader
		FROM crew
		WHERE crewName = #{crewName}
	</select>
	
	
	
	
	
</mapper>