<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyNot.model.dao.UserCrewDao">
	
	<!-- 내크루 -->
	<select id="selectMyCrew" parameterType="String">
	
		SELECT *
		FROM
		    user_crew uc
		JOIN
		    crew c ON uc.crewId = c.crewId
		JOIN
		    activity a ON c.tag = a.activityId
		    
		WHERE uc.userId = #{userId}
				
	</select>
	
	<!-- 크루 가입 -->
	<insert id="joinCrew" parameterType="UserCrew">
		INSERT INTO user_crew
		VALUES (#{userId}, #{crewId} )
	</insert>
	
</mapper>