<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyNot.model.dao.UserCrewDao">

	<select id="selectMyCrew" parameterType="String">
	
		SELECT * FROM user_crew LEFT OUTER JOIN crew
		ON user_crew.crewId = crew.crewId
		WHERE userId = #{userId}
		
	</select>
</mapper>