<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whyNot.model.dao.UserCrewDao">
	
	<!-- 내유형찾기 -->
	<select id="selectMyCrew" parameterType="String">
	
		SELECT *
		FROM user LEFT OUTER JOIN activity
		ON user.type = activity.activityId
		WHERE user.userId = #{userId}
				
	</select>
	
	<!-- 내크루목록 -->
	<select id="getMyCrewList" parameterType="String">
	
		SELECT * FROM user_crew LEFT OUTER JOIN crew
		ON user_crew.crewId = crew.crewId
		WHERE userId = #{userId}
	
	</select>
	
	<!-- 크루 가입 -->
	<insert id="joinCrew" parameterType="UserCrew">
	    INSERT INTO user_crew (userId, crewId)
	    SELECT #{userId}, #{crewId}
	    WHERE NOT EXISTS (
	        SELECT userId
	        FROM user_crew
	        WHERE userId = #{userId} AND crewId = #{crewId}
	    )
	</insert>
	
</mapper>